
    .passwordCheck {
        padding-left: 10%;
    }

    .statementMessage {
        font-size: 15px;
        font-weight: 300;
        color: rgb(89, 89, 89);
        font-family: 'Raleway', sans-serif;
    }

    .napplied {
        font-size: 13px;
        font-weight: bolder;
        color: rgb(121, 121, 121);
        font-family: 'Nunito', sans-serif;

    }

    .applied {
        list-style-image: url("../images/tick.svg");      
        font-size: 13px;
        font-weight: bolder;
        color: green;
        background-color: #e3f8eb;
        font-family: 'Nunito', sans-serif;

    }


    li  {
        padding-left: 10px;
      }
